* {
  margin: 0;
  padding: 0; }

body {
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
  background-color: #fff; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #52a028;
  outline: none;
  border: 1px solid #52a028; }

body input:required:valid,
body textarea:required:valid {
  outline: none;
  border: 1px solid #52a028; }

h2 {
  font-size: 1.5em; }

h1 {
  font-size: 1.5625em; }

h3 {
  font-size: 1.125em; }

p {
  font-family: "OpenSans"; }

h1 {
  font-family: "OpenCondBold"; }

.hidden {
  display: none; }

.main_head {
  width: 100%;
  min-height: 225px;
  position: relative; }

.header_top {
  width: 100%;
  min-height: 93px;
  border-bottom: 6px solid #604b6c; }
  .header_top .tel {
    display: block;
    color: #806f89;
    font-family: "HarmoniaRegular"; }
    .header_top .tel:nth-child(1) {
      padding-top: 22px; }
    .header_top .tel:nth-child(3) {
      padding-bottom: 22px; }

.mnu {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative; }
  .mnu nav {
    width: 100%;
    height: auto; }
    .mnu nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center; }
      .mnu nav ul .lang-item {
        margin: 40px 7px;
        float: right; }
        .mnu nav ul .lang-item > a {
          font-family: "HarmoniaRegular";
          color: #858eb3; }
      .mnu nav ul .current-lang > a {
        color: #fdb111; }
      .mnu nav ul > li {
        max-width: 100%;
        display: inline-block;
        padding: 0;
        margin: 40px 30px;
        font-family: "HarmoniaBold";
        font-size: 1.0625em;
        background: none;
        height: auto; }
        .mnu nav ul > li > a {
          text-decoration: none;
          color: #604b6c;
          cursor: pointer; }
          .mnu nav ul > li > a:hover {
            color: #fdb111; }

.mnu nav ul .current-menu-item a {
  color: #fdb111; }

.mnu nav ul .current_page_item a {
  color: #fdb111; }

#menu {
  clear: both; }
  #menu ul {
    display: block; }

.logo_mnu {
  display: none; }

#toggle_mnu {
  display: block;
  height: auto;
  text-align: right; }
  #toggle_mnu span {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #888;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
    #toggle_mnu span:after, #toggle_mnu span:before {
      content: "";
      position: absolute;
      left: 0;
      top: -9px; }
    #toggle_mnu span:after {
      top: 9px;
      width: 100%;
      height: 3px;
      background-color: #888;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
    #toggle_mnu span:before {
      width: 100%;
      height: 3px;
      background-color: #888;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
  #toggle_mnu.on span {
    background-color: transparent; }
    #toggle_mnu.on span:before {
      -webkit-transform: rotate(45deg) translate(5px, 5px);
          -ms-transform: rotate(45deg) translate(5px, 5px);
              transform: rotate(45deg) translate(5px, 5px); }
    #toggle_mnu.on span:after {
      -webkit-transform: rotate(-45deg) translate(7px, -8px);
          -ms-transform: rotate(-45deg) translate(7px, -8px);
              transform: rotate(-45deg) translate(7px, -8px); }
  #toggle_mnu.on + #menu {
    opacity: 1;
    visibility: visible; }

#toggle_mnu {
  display: none; }

.header_bottom {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px 0; }
  .header_bottom .logo {
    display: inline-block;
    height: auto;
    cursor: pointer; }
    .header_bottom .logo img {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: auto; }
  .header_bottom .comp {
    display: inline-block;
    width: 63%;
    vertical-align: middle;
    padding: 0 20px;
    margin-top: 20px; }
    .header_bottom .comp span:first-child {
      font-size: 1.75em;
      color: #604b6c;
      white-space: pre-line;
      font-family: "HarmoniaRegular";
      line-height: 31px; }
    .header_bottom .comp span:last-child {
      font-size: 0.875em;
      color: #858eb3;
      font-family: "HarmoniaRegular";
      line-height: 15px; }

.mnu_bottom {
  width: 100%;
  height: auto;
  padding-top: 42px; }
  .mnu_bottom ul {
    margin: 0;
    padding: 0; }
    .mnu_bottom ul li {
      list-style-type: none;
      display: inline-block;
      background: none;
      font-family: "HarmoniaRegular";
      font-size: 1em;
      width: auto;
      height: auto;
      padding-top: 0;
      margin-top: 0; }
      .mnu_bottom ul li a {
        display: block;
        text-decoration: none;
        cursor: pointer;
        color: #604a6e; }
      .mnu_bottom ul li:nth-child(1) {
        border-right: 1px solid #533774;
        padding-right: 10px;
        padding-left: 10px; }
      .mnu_bottom ul li:nth-child(2) {
        border-right: 1px solid #533774;
        padding-right: 10px;
        padding-left: 10px; }
      .mnu_bottom ul li:nth-child(3) {
        border-right: 1px solid #533774;
        padding-right: 10px;
        padding-left: 10px; }
      .mnu_bottom ul li:nth-child(4) {
        border-right: none;
        padding-left: 10px; }
      .mnu_bottom ul li:hover {
        color: #604b6c;
        font-weight: 700; }

.main_footer {
  width: 100%;
  height: auto;
  border-top: 6px solid #604b6c;
  border-bottom: 6px solid #604b6c;
  padding-top: 20px; }
  .main_footer .copirating {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 5px;
    font-size: 0.875em;
    font-family: "OpenSansLight"; }
  .main_footer .logo {
    display: inline-block;
    height: auto;
    cursor: pointer; }
    .main_footer .logo img {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: auto; }
  .main_footer .comp {
    display: inline-block;
    width: 63%;
    vertical-align: middle;
    padding: 0 20px;
    margin-top: 20px; }
    .main_footer .comp span:first-child {
      font-size: 1.25em;
      color: #604b6c;
      white-space: pre-line;
      font-family: "HarmoniaRegular";
      line-height: 31px; }
    .main_footer .comp span:last-child {
      font-size: 0.75em;
      color: #858eb3;
      font-family: "HarmoniaRegular";
      line-height: 15px; }
  .main_footer .mnu nav ul > li {
    margin: 39px 30px; }

.develop {
  width: 100%;
  height: 95px;
  display: table;
  vertical-align: middle; }
  .develop a {
    display: table-cell;
    vertical-align: middle; }
    .develop a span {
      display: block;
      font-size: 0.875em;
      font-family: "OpenSans";
      padding-bottom: 5px;
      color: #8a8a8b;
      text-align: center; }
    .develop a img {
      display: block;
      width: 92px;
      height: 23px;
      margin: 0 auto; }

.social {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  text-align: center; }
  .social i {
    color: #395d98;
    font-size: 1.5625em; }

.btn-1b {
  background-color: #fdb111;
  color: #f0ebf3;
  text-transform: uppercase;
  padding: 15px 30px 10px;
  background-color: #fdb111;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  letter-spacing: 2px;
  font-size: 0.8125em;
  font-family: "HarmoniaRegular";
  margin: 0 auto;
  cursor: inherit; }

.btn-1b:hover {
  background: transparent;
  color: #f0ebf3; }

.btn-1b:after {
  background: #604b6c; }

main {
  width: 100%;
  height: auto; }

.content {
  width: 100%;
  height: auto;
  padding: 20px 0; }
  .content h3 {
    font-size: 1.5625em;
    font-family: "BitterRegular";
    color: #776383;
    font-weight: 300;
    line-height: 1.6875em;
    padding-bottom: 20px; }
  .content p {
    font-size: 1.125em;
    font-family: "OpenSans";
    color: #4a4b51;
    line-height: 1.6875em;
    padding-bottom: 35px; }

.skills_items {
  width: 100%;
  height: auto; }
  .skills_items .item {
    padding: 20px 0; }
    .skills_items .item h4 {
      display: inline-block;
      font-family: "BitterRegular";
      font-size: 1.5em;
      background-color: #604b6c;
      color: #f2f2f4;
      padding: 12px 30px;
      font-weight: 300;
      letter-spacing: 1px; }
    .skills_items .item span {
      max-width: 450px;
      height: auto;
      padding: 55px 0;
      display: block;
      font-size: 0.9375em;
      font-family: "OpenSans";
      color: #595a60; }

ul {
  width: 100%;
  height: auto; }
  ul li {
    max-width: 260px;
    font-size: 0.9375em;
    font-family: "OpenSans";
    list-style: none;
    background: url(../img/checkin.png) no-repeat 0 1px;
    background-size: 24px;
    height: 38px;
    padding-left: 38px;
    padding-top: 10px;
    margin-top: 10px; }

.news {
  width: 100%;
  height: auto;
  padding-bottom: 90px; }
  .news img {
    width: 100%;
    height: auto;
    overflow: hidden; }
  .news span {
    text-align: center;
    display: block;
    font-size: 1em;
    font-family: "OpenCondBold";
    line-height: 1.125em;
    color: #604b6c; }
  .news h3 {
    text-align: left;
    font-size: 1.625em;
    font-family: "OpenSans";
    line-height: 2.25em;
    color: #858eb3;
    -webkit-transition: .2s;
    transition: .2s; }
    .news h3:hover {
      color: #fdb111;
      -webkit-transition: .2s;
      transition: .2s; }
  .news p {
    text-align: left;
    font-size: 1em;
    font-family: "OpenSans";
    line-height: 1.5625em;
    color: #182932; }

.last_news {
  font-size: 1.75em;
  font-family: "BitterRegular";
  font-weight: 300;
  color: #604b6c;
  padding-bottom: 20px; }

.about_us {
  width: 100%;
  height: auto;
  padding-bottom: 50px; }
  .about_us h1 {
    position: relative;
    margin: 0 20px;
    display: inline-block;
    font-size: 1.6875em;
    font-family: "BitterRegular";
    font-weight: 300;
    color: #85778d; }
    .about_us h1:after {
      content: "";
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: -10px;
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: #704361; }
  .about_us p {
    font-size: 1em;
    font-family: "OpenSans";
    line-height: 1.6875em;
    color: #4a4b51;
    padding: 35px 0 45px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 1170px) {
  .header_bottom .comp {
    width: 100%;
    padding: 0; }
  .main_footer .comp {
    width: 44%; }
  .main_footer .mnu nav ul > li {
    margin: 48px 20px; }
  .mnu_bottom ul li {
    font-size: 0.95em; } }

@media only screen and (max-width: 991px) {
  .mnu_bottom ul li a {
    font-size: 0.86em;
    text-decoration: underline; }
  .mnu_bottom ul li:nth-child(1) {
    padding: 0 5px;
    border: none; }
  .mnu_bottom ul li:nth-child(2) {
    padding: 0 5px;
    border: none; }
  .mnu_bottom ul li:nth-child(3) {
    padding: 0 5px;
    border: none; }
  .mnu_bottom ul li:nth-child(4) {
    padding: 0 5px;
    border: none; }
  .mnu_bottom {
    padding-top: 25px; }
  .content p {
    font-size: 1.025em; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #menu {
    display: none; }
  #toggle_mnu {
    display: inline-block; }
  .mnu {
    text-align: right;
    min-height: 60px;
    width: 70%;
    min-width: 200px;
    padding-top: 10px;
    /*padding: 10px 0;*/
    border: 1px solid #604b6c;
    /*margin-bottom: 20px;*/
    margin: 0 auto 20px; }
  .fa-bars {
    padding: 5px 13px;
    border: 1px solid #604b6c;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #604b6c; }
  .mnu nav ul > li {
    display: block;
    margin: 0;
    text-align: left;
    text-transform: uppercase; }
  .mnu nav ul .lang-item {
    display: inline-block;
    border: 1px solid #604b6c;
    margin: 0 0 10px 0;
    float: none;
    text-align: left;
    text-transform: uppercase;
    font-family: "HarmoniaRegular"; }
  .mnu nav ul .current_page_item {
    background-color: #695175; }
  .header_top .tel:nth-child(3) {
    padding-bottom: 0; }
  .mnu nav ul > li > a {
    width: 100%;
    padding: 12px 20px 10px;
    height: auto;
    display: block; }
  .logo_mnu {
    display: block;
    width: 60%;
    height: 100%;
    text-align: left;
    clear: both;
    float: left;
    padding-left: 10px; }
  .logo_mnu img {
    width: 35px;
    height: 40px; }
  .logo_mnu span {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    margin-left: 10px;
    font-family: "HarmoniaRegular"; }
  .mnu_bottom {
    padding: 0;
    text-align: center; }
  .mnu_bottom ul li a {
    font-size: 13px;
    text-decoration: underline; }
  .social {
    margin-left: 0;
    display: block; }
  .social i {
    font-size: 3.5625em; } }

@media only screen and (max-width: 520px) {
  .logo_mnu span {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    margin-left: 10px;
    font-family: "HarmoniaRegular"; }
  .news h3 {
    line-height: 1.4em; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .mnu {
    width: 100%; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #menu {
    display: inline-block !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /*#menu{
	display: inline-block !important;
}*/ }

/* Large Devices, Wide Screens */
