/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1170px) {
	.header_bottom .comp{
		width: 100%;
		padding: 0;
	}
	.main_footer .comp{
		width: 44%;
	}
	.main_footer .mnu nav ul > li
	{
		margin: 48px 14px;
	}
	.mnu_bottom ul li{
		font-size: 0.95em;
	}
}

@media only screen and (max-width : 991px){
	.mnu_bottom ul li a{
		font-size: 0.86em;
	    text-decoration: underline;
	}

	.mnu_bottom ul li:nth-child(1){
		padding: 0 5px;
		border: none;
	}
	.mnu_bottom ul li:nth-child(2){
		padding: 0 5px;
		border: none;
	}
	.mnu_bottom ul li:nth-child(3){
		padding: 0 5px;
		border: none;
	}
	.mnu_bottom ul li:nth-child(4){
		padding: 0 5px;
		border: none;
	}
	.mnu_bottom{
		padding-top: 25px;
	}
	.content p{
		font-size: 1.025em;
	}
	.contact_us{
		float: none;
	}
	.contact_form{
		max-width: 100%;
	}
	.product{
		padding-left: 0;
	}
	.product_h{
		text-align: center;
		padding-top: 20px;
	}
	
	.product_m ul li{
		max-width: 400px;
		margin: 0 auto;
	}
	.product_m .prices{
		text-align: center;
	}
	.product_f{
		text-align: center;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
#menu {
	display: none;
}

#toggle_mnu{
	display: inline-block;
}
.social__{
	display: block;
}
.mnu{
	text-align: right;
	min-height: 60px;
	width: 70%;
	min-width: 200px;
	padding-top: 10px;
	/*padding: 10px 0;*/
	border: 1px solid #604b6c;
	/*margin-bottom: 20px;*/
	margin: 0 auto 20px;
}
.fa-bars{
	padding: 5px 13px;
	border: 1px solid #604b6c;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #604b6c;
}
.mnu nav ul > li{
	display: block;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
}
.mnu nav ul .lang-item{
	display: inline-block;
	border: 1px solid #604b6c;
	margin: 0 0 10px 0;
	float: none;
	text-align: left;
	text-transform: uppercase;
	font-family: "HarmoniaRegular";

}
.mnu nav ul .current_page_item {
	background-color: #695175;
}
.header_top .tel:nth-child(3){
	padding-bottom: 0;
}
.mnu nav ul > li > a{
	width: 100%;
	padding: 12px 20px 10px;
	height: auto;
	display: block;
}
.logo_mnu{
	display: block;
	width: 60%;
	height: 100%;
	text-align: left;
	clear: both;
	float: left;
	padding-left: 10px;
}
.logo_mnu img{
		width: 35px;
		height: 40px;
}
.logo_mnu span{
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	margin-left: 10px;
	font-family: "HarmoniaRegular";
}
.mnu_bottom{
	padding: 0;
	text-align: center;
}

.mnu_bottom ul li a{
	font-size: 13px;
	text-decoration: underline;
}
.social{
	margin-left: 0;
	display: block

}
.social i {
	font-size: 3.5625em;
}
.contact_us{
	margin: 0 auto;
}
}

@media only screen and (max-width : 680px){
	.blog_item .news_title h1{
		font-size: 1.575em;
	}
	.pager .page-numbers{
	    margin-right: 15px;
	}

}

@media only screen and (max-width : 520px){

.logo_mnu span{
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	margin-left: 10px;
	font-family: "HarmoniaRegular";
}
.news h3{
	line-height: 1.4em;
}
.main_footer .logo img{
	width: 100%;
	height: auto;
}
.owl-carousel .item span{
	font-size: 1.5125em;
}

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.product img{
	max-width: 100%;
	height: auto;
}
.product_ h1{
	font-size: 1.3875em;
}
.product_m{
	padding-left: 0;
}
.product_h{
	text-align: left;
	padding-left: 0;
}
.product_h h2{
	font-size: 1em;
}
.product_f form button{
	margin-right: 0;
}
.product_m ul li{
	font-size: 1em;
}
.product_h a{
	margin-bottom: 20px
}


.mnu{
	width: 100%;
}
.owl-carousel .item span{
	font-size: 1.2125em;
}

}

@media only screen and (max-width : 420px) {
.owl-carousel .item span{
	font-size: 1.1125em;
}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 380px) {
.owl-carousel .item span{
	font-size: 0.9em;
}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#menu{
		display: inline-block !important;
		
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

/*#menu{
	display: inline-block !important;
}*/

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}