@import "bourbon/app/assets/stylesheets/bourbon"
*
	margin: 0
	padding: 0

$main_color: #604b6c
$orange: #fdb111

=animation-delay($animation)
	-webkit-animation-delay: $animation
	-o-animation-delay: $animation
	-moz-animation-delay: $animation
	animation-delay: $animation

=border-radius($border-radius)
	-webkit-border-radius: $border-radius
	-o-border-radius: $border-radius
	-moz-border-radius: $border-radius
	border-radius: $border-radius

=placeholder ($placeholder) 
	-webkit-input-placeholder: $placeholder
	-moz-placeholder: $placeholder
	-moz-placeholder: $placeholder
	-ms-input-placeholder: $placeholder

=transition($transition)
	-webkit-transition: $transition
	-moz-transition: $transition
	-o-transition: $transition
	transition: $transition


=placeholder
  &::-webkit-input-placeholder
    @content

  &:-moz-placeholder
    @content

  &::-moz-placeholder
    @content

  &:-ms-input-placeholder
    @content


+placeholder
	color: $main_color




body
	font-family: "OpenSans", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.42857
	-webkit-font-smoothing: antialised
	background-color: #fff

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #52a028
	outline: none
	border: 1px solid #52a028
body input:required:valid,
body textarea:required:valid
	color: #52a028
	outline: none
	border: 1px solid #52a028
a
	cursor: pointer !important
button
	cursor: pointer !important

h2, h3, h4, h5
	

h2
	font-size: em(24px)

h1
	font-size: em(25px)

h3
	font-size: em(18px)

p
	font-family: "OpenSans"
	font-size: em(17px)

h1
	font-family: "OpenCondBold"


.hidden
	display: none

// header start

.main_head
	width: 100%
	min-height: 225px
	position: relative

.header_top
	width: 100%
	min-height: 93px
	border-bottom: 6px solid $main_color
	.tel
		display: block
		color: #806f89
		font-family: "HarmoniaRegular"
		&:nth-child(1)
			padding-top: 22px 
		&:nth-child(3)
			padding-bottom: 22px 

.mnu
	width: 100%
	height: auto
	text-align: center
	position: relative
	nav
		width: 100%
		height: auto
		ul
			list-style-type: none
			margin: 0
			padding: 0
			text-align: center
			.lang-item
				margin: 40px 7px
				float: right
				>a
					font-family: "HarmoniaRegular"
					color: #858eb3

			.current-lang
				>a
					color: $orange
			>li
				max-width: 100%
				display: inline-block
				padding: 0
				margin: 40px 30px
				font-family: "HarmoniaBold"
				font-size: em(17px)
				background: none
				min-height: auto
				>a
					text-decoration: none
					
					color: $main_color
					cursor: pointer
					&:hover
						color: $orange
			
.mnu
	nav
		ul
			.current-menu-item
				a
					color: $orange
.mnu
	nav
		ul
			.current_page_item
				a
					color: $orange	

#menu
	clear: both
	ul
		display: block

.logo_mnu
	display: none




// menu toggle start


	
#toggle_mnu
  display: block

  height: auto
  text-align: right
  
  
  // margin: 20px auto 10px
  span
    &:after, &:before
      content: ""
      position: absolute
      left: 0
      top: -9px
    &:after
      top: 9px
      width: 100%
      height: 3px
      background-color: #888
      transition: all 0.3s
      backface-visibility: hidden
      border-radius: 2px
    position: relative
    display: block
    width: 100%
    height: 3px
    background-color: #888
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px
    &:before
      width: 100%
      height: 3px
      background-color: #888
      transition: all 0.3s
      backface-visibility: hidden
      border-radius: 2px
  &.on
    span
      background-color: transparent
      &:before
        transform: rotate(45deg) translate(5px, 5px)
      &:after
        transform: rotate(-45deg) translate(7px, -8px)
    + #menu
      opacity: 1
      visibility: visible

#toggle_mnu
	display: none

// menu toggle end

// header bottom

.header_bottom
	width: 100%
	height: auto
	position: relative
	padding: 20px 0

	.logo
		display: inline-block
		height: auto
		cursor: pointer

		img
			display: inline-block
			vertical-align: middle
			width: 100%
			height: auto
	.comp
		display: inline-block
		width: 63%
		vertical-align: middle
		padding: 0 20px
		margin-top: 20px
		span
			&:first-child
				font-size: em(28px)
				color: $main_color
				white-space: pre-line
				font-family: "HarmoniaRegular"
				line-height: 31px
			&:last-child
				font-size: em(14px)
				color: #858eb3
				font-family: "HarmoniaRegular"
				line-height: 15px
				
.mnu_bottom
	width: 100%
	height: auto
	padding-top: 42px
	text-align: right
	ul
		margin: 0
		padding: 0

		li
			list-style-type: none
			display: inline-block
			background: none
			font-family: "HarmoniaRegular"
			font-size: em(16px)
			width: auto
			height: auto
			padding-top: 0
			margin-top: 0
			min-height: auto
			a
				display: block
				text-decoration: none
				
				cursor: pointer
				color: #604a6e


			&:nth-child(1)
				border-right: 1px solid #533774
				padding-right: 10px
				padding-left: 10px
			&:nth-child(2)
				border-right: 1px solid #533774
				padding-right: 10px
				padding-left: 10px
			&:nth-child(3)
				border-right: 1px solid #533774
				padding-right: 10px
				padding-left: 10px
			&:nth-child(4)
				border-right: none
				padding-left: 10px
			&:hover
				color: $main_color
				font-weight: 700

.mnu_bottom
	ul
		.current_page_item
			a
				color: $main_color
				font-weight: 700
				font-family: "HarmoniaBold"
.mnu_bottom
	ul
		.current-menu-item
			a
				color: $main_color
				font-weight: 700
				font-family: "HarmoniaBold"

// header end




// footer start

.main_footer
	width: 100%
	height: auto
	border-top: 6px solid #604b6c
	border-bottom: 6px solid #604b6c
	padding-top: 20px
	.copirating
		display: inline-block
		width: 100%
		height: auto
		text-align: center
		padding-bottom: 5px
		font-size: em(14px)
		font-family: "OpenSansLight"
	.logo
		display: inline-block
		height: auto
		cursor: pointer

		img
			display: inline-block
			vertical-align: middle
			width: 200px
			height: 91px

	.comp
		display: inline-block
		width: 63%
		vertical-align: middle
		padding: 0 20px
		margin-top: 20px
		span
			&:first-child
				font-size: em(20px)
				color: $main_color
				white-space: pre-line
				font-family: "HarmoniaRegular"
				line-height: 31px
			&:last-child
				font-size: em(12px)
				color: #858eb3
				font-family: "HarmoniaRegular"
				line-height: 15px
	.mnu
		position: relative
		nav
			ul
				>li
				    margin: 39px 30px;
 
.social_
	position: absolute
	display: inline-block
	left: 50%
	transform: translateX(-50%)
	span
		font-size: em(17px)
		font-family: "OpenSansLight"
		color: $main_color
		display: inline-block
		vertical-align: middle
		margin-right: 5px
	.fa
		font-size: em(24px)
		display: inline-block
		vertical-align: middle
		margin-right: 5px
	.fa-facebook-square
		color: #395d98
		display: inline-block
		vertical-align: middle
		margin-right: 5px
	.fa-instagram
		color: #373737
		display: inline-block
		vertical-align: middle
		margin-right: 5px
	.fa-vk
		color: #4e7093
		display: inline-block
		vertical-align: middle
		margin-right: 5px




.develop
	width: 100%
	height: 95px
	display: table
	vertical-align: middle
	a
		display: table-cell
		vertical-align: middle
		span
			display: block
			font-size: em(14px)
			font-family: "OpenSans"
			padding-bottom: 5px
			color: #8a8a8b
			text-align: center
		img
			display: block
			width: 92px
			height: 23px
			margin: 0 auto



.about_business
	ul
		li
			max-width: 400px


			

// footer end
.btn-1b 
	background-color: $orange
	color: #f0ebf3
	text-transform: uppercase
	padding: 11px 30px 11px
	background-color: $orange
	border-radius: 10px
	letter-spacing: 2px
	font-size: em(13px)
	font-family: "HarmoniaRegular"
	margin: 0 auto
	cursor: inherit
	
.btn-1b:hover 
	background: transparent
	color: #f0ebf3
.btn-1b:after
	background: $main_color




// home page start

main
	width: 100%
	height: auto

.value_items
	margin-bottom: 50px

	.item
		span
			display: inline-block
			padding: 5px 50px
			font-size: em(30px)
			font-family: "OpenCondBold"
			position: absolute
			background-color: $main_color
			color: #fdfdff

		.top
			left: 15px
			top: 50px
			margin-right: 15px
		.bottom
			right: 15px
			bottom: 100px
			// margin-right: 15px
			margin-left: 15px
		img
			width: 100%
			height: auto
			border-radius: 7px


.owl-carousel
	margin-bottom: 20px
	.owl-stage-outer
		border-radius: 7px

	.item
		span
			display: inline-block
			padding: 5px 30px
			font-size: em(29px)
			font-family: "OpenCondBold"
			position: absolute
			background-color: $main_color
			color: #fdfdff
		.top
			left: 0
			top: 18px
		.bottom
			right: 0 
			bottom: 50px
		.btn
			position: absolute
			right: 55px
			bottom: 5px
			padding: 10px 30px 7px
			font-size: em(12px)
			cursor: pointer
			border-radius: 7px
			// &:before
			// 	background-color:
		.btn-1
			border: none 
		.btn-1b:hover 
			background: $main_color
			color: #f0ebf3
.owl-theme 
	.owl-dots 
		.owl-dot.active
			zoom: 1.5
			span
				width: 7px
				height: 7px
				background-color: $orange

		.owl-dot
			span
				width: 7px
				height: 7px
				background-color: #7a9a9b
				margin: -4px 5px


.contact_form 
	height: auto
	padding: 35px 20px
	background-color: $main_color
	border-radius: 7px
	max-width: 300px
	margin: 0 auto
	h1
		font-size: em(24px)
		font-family: "Lato-Black"
		padding-bottom: 25px
		text-align: center
		color: #fff
	form
		width: 100%
		height: auto
		display: block

	.group
		display: block
		margin-bottom: 15px
		input, 
		textarea	
			width: 100%
			height: auto
			padding: 8px 18px 8px 38px
			border-radius: 7px
			color: $main_color
			// &:focus
			// 	color: $main_color
			+placeholder
			  color: #9fa3a7

		textarea
			min-height: 120px
			padding: 8px 18px 8px 19px
			resize: none
		// input
		// 	min-height: 32px


.contact_form
	.user
		position: relative
		

		&:after
			content: "\f007"
			padding-right: 7px
			padding-left: 20px
			font-family: FontAwesome
			font-style: normal
			font-weight: normal
			text-decoration: inherit
			position: absolute
			color: #9fa3a7
			top: 50%
			left: 0
			transform: translateY(-50%)
		input
			padding: 8px 18px 8px 38px

.contact_form
	.email
		position: relative

		&:after
			content: "\f0e0"
			padding-right: 7px
			padding-left: 20px
			font-family: FontAwesome
			font-style: normal
			font-weight: normal
			text-decoration: inherit
			position: absolute
			color: #9fa3a7
			top: 50%
			left: 0
			transform: translateY(-50%)
.contact_form
	.phone
		position: relative

		&:after
			content: "\f10b"
			padding-right: 7px
			padding-left: 20px
			font-family: FontAwesome
			font-style: normal
			font-weight: normal
			text-decoration: inherit
			position: absolute
			color: #9fa3a7
			top: 50%
			left: 0
			transform: translateY(-50%)	
			font-size: em(22px)		
			margin-left: 3px


// .contact_form
// 	.user,
// 	.email,
// 	.phone,
// 	.textarea
// 		.wpcf7-not-valid-tip
// 			display: block
// 			// position: absolute
// 			// line-height: 10px
// 			font-size: em(13px)
// 			font-family: "OpenSans"	



.contact_form
	form
		.btn-1b
			padding: 15px 30px 10px
			display: block
			text-align: center
			border: $main_color
			cursor: pointer
			&:hover
				color: $main_color
				background: #f0ebf3	
			&:after
				background: transparent !important
.fixed
	margin-top: 20px

.content
	width: 100%
	height: auto
	padding: 20px 0
	h3
		font-size: em(25px)
		font-family: "BitterRegular"
		color: $main_color
		font-weight: 300
		line-height: em(27px)
		padding-bottom: 20px
	p
		font-size: em(18px)
		font-family: "OpenSans"
		color: #4a4b51
		line-height: em(27px)
		padding-bottom: 35px

.skills_items
	width: 100%
	height: auto
	.item
		padding: 20px 0
		h4
			display: inline-block
			font-family: "BitterRegular"
			font-size: em(24px)
			background-color: $main_color
			color: #f2f2f4
			padding: 12px 30px
			font-weight: 300
			letter-spacing: 1px
			margin-bottom: 20px
		span
			max-width: 450px
			height: auto
			// padding: 55px 0 0
			display: block
			font-size: em(16px)
			font-family: "OpenSans"
			color: #595a60
		p
			max-width: 450px
			height: auto
			// padding: 55px 0 0
			display: block
			font-size: em(18px)
			font-family: "OpenSans"
			color: #595a60
		ul
			width: 100%
			height: auto
			// list-style-image: url(../img/checkin.png)
			// list-style-position: inside
			margin-bottom: 20px
			li
				max-width: 400px
				// margin-left: 30px
				// padding: 10px 0
				font-size: em(18px)
				font-family: "OpenSans"
				list-style: none
				background: url(../img/checkin.png) no-repeat 0 1px
				background-size: 24px
				min-height: 38px
				padding-left: 38px
				padding-top: 10px
				margin-top: 10px		
		form
			button
				margin-top: 20px

				// text-transform: uppercase
				// padding: 15px 30px
				// background-color: $orange
				// border-radius: 10px
				// letter-spacing: 2px
				// font-size: em(13px)
				// font-family: "HarmoniaRegular"
				// margin: 0 auto
				// cursor: inherit
ul
	width: 100%
	height: auto
	// list-style-image: url(../img/checkin.png)
	// list-style-position: inside
	margin-bottom: 20px
	li
		max-width: 260px
		// margin-left: 30px
		// padding: 10px 0
		font-size: em(15px)
		font-family: "OpenSans"
		list-style: none
		background: url(../img/checkin.png) no-repeat 0 1px
		background-size: 24px
		min-height: 38px
		padding-left: 38px
		padding-top: 10px
		margin-top: 10px
		// line-height: 55px

.news
	width: 100%
	height: auto
	padding-bottom: 90px

	img
		width: 100%
		height: auto
		overflow: hidden
	span
		float: right
		display: inline-block
		margin-top: 20px
		padding-right: 10px
		font-size: em(16px)
		font-family: "OpenCondBold"
		line-height: em(18px)
		color: $main_color
	a
		display: inline-block
		margin-top: 20px
		font-weight: 300
		color: $main_color
		font-size: em(16px)
		font-family: "OpenSans"
		&:hover
			
	h3
		text-align: left
		font-size: em(26px)
		font-family: "OpenSans"
		line-height: em(36px)
		color: #858eb3
		transition: .2s
		&:hover
			color: $orange
			text-decoration: underline
			transition: .2s
	p
		text-align: left
		font-size: em(16px)
		font-family: "OpenSans"
		line-height: em(25px)
		color: #182932

.last_news
	font-size: em(28px)
	font-family: "BitterRegular"
	font-weight: 300
	color: $main_color
	padding-bottom: 20px


.wpcf7-not-valid-tip
	position: absolute !important
	top: 0% !important
	left: -1% !important
	z-index: 100 !important
	border: 1px solid #ff0000 !important
	background: #FE8081 !important
	width: 101% !important
	height: auto !important
	padding: 11px 4px 11px 11px !important
	-webkit-border-radius: 7px !important
	border-radius: 7px !important
	color: #000 !important
	font-size: 11px !important
	margin: -10px 2px !important

.wpcf7-response-output,
.wpcf7-display-none,
.wpcf7-validation-errors, 
	border: 2px solid red !important
	border-radius: 7px !important
	color: #fff !important
	font-size: 12px !important
	font-family: "OpenSans"
	padding: 12px 14px !important
.wpcf7-mail-sent-ok
	border: 2px solid green !important
	border-radius: 7px !important
	color: #fff !important
	font-size: 12px !important
	font-family: "OpenSans"
	padding: 12px 14px !important
// home page end

// aboutus page start

.about_
	padding-bottom: 50px
	padding-top: 20px
.about
	width: 100%
	height: auto
	h1
		position: relative
		margin: 0 20px
		display: inline-block
		font-size: em(27px)
		font-family: "BitterRegular"
		font-weight: 300
		// color: #85778d
		color: $main_color
		&:after
			content: ""
			left: 50%
			transform: translateX(-50%)
			bottom: -10px
			position: absolute
			width: 40px
			height: 3px
			background-color: #704361

	p
		font-size: em(16px)
		font-family: "OpenSans"
		line-height: em(27px)
		color: #4a4b51
		padding: 35px 0 45px
	ul
		padding-left: 60px
// aboutus page end

// contactus page start

.contact_
	padding-bottom: 50px
	padding-top: 20px

.contact_us
	max-width: 260px
	height: auto
	padding: 50px 18px 80px 18px
	background-color: $main_color
	border-radius: 5px
	font-family: "OpenSans"
	float: right
	h1
		position: relative
		font-family: "BitterRegular"
		font-size: em(35px)
		font-weight: 300
		color: #fff
		text-align: center
		margin: 0 0 15px
		&:after
			content: ""
			left: 50%
			transform: translateX(-50%)
			bottom: -10px
			position: absolute
			width: 40px
			height: 3px
			background-color: #fff
	>span
		display: block
		text-align: center
		color: #acafb3
		padding: 60px 0 15px

.contact_tel
	width: 100%
	height: auto
	position: relative
	font-size: em(17px)
	span
		display: block
		text-align: center
		line-height: 25px
		color: #d6d1da
	&:after
		content: ""
		left: 50%
		transform: translateX(-50%)
		bottom: -10px
		position: absolute
		width: 40px
		height: 3px
		background-color: #fff

.contact_mail
	width: 100%
	height: auto
	position: relative
	span
		display: block
		text-align: center
		font-family: "OpenSans"
		a
			color: #fff
			&:hover
				text-decoration: underline
		&:first-child
			font-size: em(15px)
			color: #acafb3
			padding-bottom: 10px
			padding-top: 95px
		&:last-child
			font-size: em(17px)
	&:after
		content: ""
		left: 50%
		transform: translateX(-50%)
		bottom: -14px
		position: absolute
		width: 40px
		height: 3px
		background-color: #fff

.contact_page,
.contact_page_sub
	width: 100%
	height: auto
	input,
	textarea,
	select
		display: block
		width: 100%
		font-size: em(13px)
		font-family: "OpenSans"
		padding: 12px 16px
		margin-top: 18px
		border-radius: 7px
		border: 1px solid #dedede
		background-color: #f6f6f6
		color: #9fa3a7
	textarea
		min-height: 222px
		resize: none
	select
		height: 41px
		padding-left: 10px
		option
			padding: 12px 16px
			display: block
			width: 100%
			font-size: em(13px)
			font-family: "OpenSans"
			margin-left: 10px


.contact_page_sub
	.btn
		float: right
		margin-top: 20px
		padding: 15px 39px 10px
		letter-spacing: 3px

// contactus page end

// blog page start

.blog_
	width: 100%
	height: auto
	border-bottom: 6px solid $main_color
.blog_item
	// max-width: 420px
	width: 100%
	height: auto
	padding: 40px 0
	>img
		width: 100%
		height: auto
		display: block
	p
		padding: 30px 0
		font-size: em(17px)
		line-height: em(24px)
		font-family: "OpenSans"
		color: #626262
	.btn-1b
		padding: 15px 55px 10px
	.news_title
		a
			text-decoration: none
		h1
			display: block
			position: relative
			vertical-align: middle
			font-size: em(30px)
			font-family: "BitterRegular"
			font-weight: 300
			padding-left: 40px
			color: $main_color
			&:after
				content: ""
				width: 33px
				height: 50px
				position: absolute
				top: -10px
				// top: 50%
				// transform: translateY(-50%)
				left: 0
				background: url(../img/blog_checkin.png) no-repeat
				
.categories
	a
		position: relative
		color: #4d4a4f
		font-size: em(13px)
		&:before
			content: "\f07c"
			padding-right: 7px
			font-family: FontAwesome
			font-style: normal
			font-weight: normal
			text-decoration: inherit


.blog_page

	.blog_item

		img
			padding-bottom: 50px
		.blog_info
			padding: 0 40px
			>img
				width: 100%
				height: auto
				padding-top: 70px
	.news_title
		
		h1
			display: block
			position: relative
			vertical-align: middle
			font-size: em(30px)
			font-family: "BitterRegular"
			font-weight: 300
			padding-left: 0
			color: $main_color
			&:after
				content: ""
				width: 0
				height: 0
				position: absolute
				top: -10px
				// top: 50%
				// transform: translateY(-50%)
				left: 0
				background: none

	.categories

		a
			&:before
				margin-left: 0


blockquote
	font-family: "OpenSans"
	font-size: em(17px)
	line-height: em(24px)
	color: #626262
	padding: 0 20px
	&:before
		content: "\f10d"
		padding-right: 7px
		font-family: FontAwesome
		font-style: normal
		// font-size: em(10px)
		font-weight: normal
		text-decoration: inherit
	&:after
		content: "\f10e"
		padding-right: 7px
		font-family: FontAwesome
		font-style: normal
		// font-size: em(10px)
		font-weight: normal
		text-decoration: inherit

.tags
	width: 100%
	height: auto
	overflow: hidden
	a
		display: inline-block
		padding: 5px 10px
		border: 2px solid $main_color
		cursor: inherit
		font-size: em(13px)
		color: #626262
		margin-top: 10px
		&:hover
			text-decoration: underline
			// background-color: #a896b3
			// // transition: 2.9s
			// color: #fff


// blog page end



// businessPlan

.about_business
	width: 100%
	height: auto
	padding: 50px 0
	.about
		p
			padding: 11px 0 24px
		h1
			margin: 40px 0 40px
		h3
			font-family: "OpenSans"
			font-size: em(17px)
			color: $main_color
			line-height: em(25px)
	.skills_items
		.item
			form

				button
					padding: 15px 40px 10px

// number list
ol
	list-style-type: disc
	list-style: none
	list-style-position: inside
	margin-left: 60px
	li
		width: 100%
		height: auto
		text-align: left
		line-height: em(35px)
		font-family: "OpenSans"

	li
		font-size: em(18px)
		
		color: #595a60
		background: none
		max-width: 100%
		list-style: inherit
		padding: 0
		margin: 0
		&:before
			font-family: 'OpenSans', sans-serif
			font-weight: 400
			font-size: em(20px)
			vertical-align: middle
			color: $main_color /* Цвет маркера */
			content: "•"/* Маркер */
			padding-right: 7px/* Отступ от маркера до текста */

.list_type_two
	width: 100%
	height: auto
	padding-top: 80px
	ul
		list-style-type: disc
		list-style: none
		list-style-position: inside
	h3,
	li
		width: 100%
		height: auto
		text-align: left
		line-height: em(35px)
		font-family: "OpenSans"

	li
		font-size: em(18px)
		
		color: #595a60
		background: none
		max-width: 100%
		list-style: inherit
		padding: 0
		margin: 0
		&:before
			font-family: 'OpenSans', sans-serif
			font-weight: 400
			font-size: em(20px)
			vertical-align: middle
			color: $main_color /* Цвет маркера */
			content: "•"/* Маркер */
			padding-right: 7px/* Отступ от маркера до текста */
		// span
		// 	color: #595a60

	h3
		color: $main_color
		font-size: em(20px)
	p
		font-size: em(19px)

// businessPlan

#acordion
	width: 100%
	height: auto
	border-bottom: 1px solid $main_color
	margin-top: 30px
	.panel-body
		padding: 20px
		border-top: 1px solid $main-color
		font-size: em(16px)
		font-family: "OpenSans"
		color: #4a4b54
		text-align: center
		p
			text-align: left
		h1,h2,h3,h4,h5
			text-align: left
		img
			width: auto
			height: auto
			border-radius: 7px
			// margin: 0 auto


.panel-title
	position: relative
	a
		display: inline-block
		padding: 7px 59px 7px 25px
		text-align: left
		font-size: em(19px)
		font-family: "OpenSans"
		text-transform: uppercase
		border-radius: 7px
		background-color: $orange
		margin-bottom: 15px
		text-decoration: none
		color: #fff
		position: relative
		&:before
			content: "\f0fe"
			position: absolute
			right: 20px
			top: 50%
			transform: translateY(-50%)
			padding-right: 7px
			font-family: FontAwesome
			font-style: normal
			font-weight: normal
			text-decoration: inherit

.about_business
	.fixed_ul
		ul
			li
				min-width: 100%
				color: #4a4b51
				font-size: em(17px)
		h3
			font-size: 1.4625em
			padding-top: 20px
		p
			font-size: em(17px)

.about_
	ul
		li
			min-width: 100%
			color: #4a4b51
			font-size: em(17px)
	h3
		font-size: 1.4625em
		padding-top: 20px
		color: $main_color

.contact_page
	.grupe
		display: block
	.user
		position: relative
		display: block			

		&:after
			content: "\f007"
			padding-right: 7px
			padding-left: 20px
			font-family: FontAwesome
			font-style: normal
			font-weight: normal
			text-decoration: inherit
			position: absolute
			color: #9fa3a7
			top: 50%
			left: 0
			transform: translateY(-50%)
		input
			padding: 10px 18px 10px 38px

.contact_page
	.email
		position: relative
		display: block	
		&:after
			content: "\f0e0"
			padding-right: 7px
			padding-left: 20px
			font-family: FontAwesome
			font-style: normal
			font-weight: normal
			text-decoration: inherit
			position: absolute
			color: #9fa3a7
			top: 50%
			left: 0
			transform: translateY(-50%)
		input
			padding: 10px 18px 10px 38px
.contact_page
	.phone
		position: relative
		display: block
		&:after
			content: "\f10b"
			padding-right: 7px
			padding-left: 20px
			font-family: FontAwesome
			font-style: normal
			font-weight: normal
			text-decoration: inherit
			position: absolute
			color: #9fa3a7
			top: 50%
			left: 0
			transform: translateY(-50%)	
			font-size: em(22px)		
			margin-left: 3px
		input
			padding: 10px 18px 10px 38px

.row_contact
	.contact_page_sub
		.group
			display: block
			textarea
				min-height: 150px
		.btn-1b
			padding: 15px 30px 10px
			display: block
			text-align: center
			border: $main_color
			cursor: pointer
			&:hover
				color: $main_color
				background: #f0ebf3	
			&:after
				background: transparent !important
.row_contact
	background: $main_color
	padding-bottom: 20px
	margin-top: 50px
	.about
		h1
			display: block
			text-align: center
			color: #fff
			&:after
				background-color: #fff
		p
			color: #fff



h5
	font-size: em(20px)
	color: #4a4b51
	font-family: "OpenSans"
	background: url(../img/checkin.png) no-repeat 0 1px
	background-size: 24px
	height: 38px
	padding-left: 38px
	padding-top: 10px
	margin-top: 10px
	margin-left: 20px

table
	width: 100%
	height: auto
	margin-top: 50px
	tr
		width: 100%
		height: auto
		margin: 0 auto
		&:nth-child(even)
			background-color: #e2e2e4
		
			

		th
			color: #fff
			font-size: em(18px)
			font-family: "OpenSans"
			text-align: center
			background: $main_color

			&:nth-child(1)
				padding: 45px 150px
				border-radius: 7px 0 0 0
			&:nth-child(2)
				padding: 45px 50px
				border: none
			&:nth-child(3)
				padding: 45px 50px
				border-radius: 0 7px 0 0
		td
			padding: 15px
			&:nth-child(2)
				border-left: 1px solid #d7d7d9
				border-right: 1px solid #d7d7d9

.prop
	width: 100%
	height: auto
	text-align: center
	margin-top: 70px
	.prop_head
		width: 100%
		height: auto
		padding: 25px 0
		background-color: $main_color
		border-radius: 5px 5px 0 0
		transition: .6s
		h4
			width: 80%
			margin: 0 auto
			height: auto
			border-bottom: 3px solid #fff
			font-family: "BitterRegular"
			font-size: em(18px)
			padding-bottom: 25px
			color: #fff
		.sales
			// width: 55%
			height: auto
			font-family: "LatoBlack"
			font-size: em(18px)
			color: $main_color
			display: inline-block
			padding: 12px 26px
			margin-top: 25px
			border-radius: 42px
			background-color: #e2e2e4
	.prop_main
		width: 100%
		height: auto
		padding: 5px 15px
		background-color: #e2e2e4
		color: #3e3d3d
		line-height: em(24px)

		h1
			position: relative
			font-size: em(17px)
			font-family: "OpenSans"
			margin-bottom: 30px
			font-weight: 300
			&:after
				content: ""
				left: 50%
				transform: translateX(-50%)
				bottom: -10px
				position: absolute
				width: 40px
				height: 3px
				background-color: #704361
		p
			font-size: em(17px)
			font-family: "OpenSans"
			margin-bottom: 30px
			position: relative
			&:after
				content: ""
				left: 50%
				transform: translateX(-50%)
				bottom: -10px
				position: absolute
				width: 40px
				height: 3px
				background-color: #704361
		h3
			position: relative
			font-size: em(17px)
			font-family: "OpenSans"
			margin-bottom: 20px
			font-weight: 700
		ol
			margin-bottom: 25px
			margin-left: 0
			position: relative
			li
				font-size: em(17px)
				font-family: "OpenSans"
				line-height: em(24px)
				text-align: center
				margin-top: 10px
				&:first-child
					margin-top: 0
			&:after
				content: ""
				left: 50%
				transform: translateX(-50%)
				bottom: -10px
				position: absolute
				width: 40px
				height: 3px
				background-color: #704361
	.prop_footer
		width: 100%
		height: auto
		padding: 25px 0
		background-color: $main_color
		border-radius: 0 0 5px 5px
		transition: .6s
		p
			position: relative
			font-size: em(17px)
			font-family: "OpenSans"
			color: #fff
.prop
	transition: 1.2s
	-webkit-transform: scale(1,1)
    -webkit-transition-timing-function: ease-out
    -webkit-transition-duration: 550ms
    -moz-transform: scale(1,1)
    -moz-transition-timing-function: ease-out
    -moz-transition-duration: 550ms
	&:hover
		// zoom: 1.2
		// margin-top: 20px
		// margin-bottom: 0
		// transition: 1s
		-webkit-transform: scale(1.1,1.1)
		-webkit-transition-timing-function: ease-out
		-webkit-transition-duration: 550ms
		-moz-transform: scale(1.1,1.1)
		-moz-transition-timing-function: ease-out
		-moz-transition-duration: 550ms
		.prop_footer
			background-color: $orange
		.prop_head
			background-color: $orange


.woocommerce-breadcrumb
	display: none

.fixed_p
	>p
		margin-top: 50px








@import "../css/media"







// @import "../css/media"